# Local Docker configuration. Use unique passwords of at least 16 characters.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<REPLACE_WITH_A_UNIQUE_16+_CHARACTER_PASSWORD>
DC_ADMIN_USER=dc_admin
DC_ADMIN_USER_PASSWORD=<REPLACE_WITH_A_UNIQUE_16+_CHARACTER_PASSWORD>
DC_READONLY_USER=dc_readonly_user
DC_READONLY_USER_PASSWORD=<REPLACE_WITH_A_UNIQUE_16+_CHARACTER_PASSWORD>
DC_DB=dc_db
POSTGRES_PORT=5433
